coverage.txt
proto/pb
proto/tendermint
types/pb/tendermint
.vscode/launch.json
.vscode/settings.json
vendor
*/**.html
*.idea
*.env
.*env
build
.aider*
.DS_Store
coverage.out
execution/evm/jwttoken
target
/.claude/settings.local.json


docs/.vitepress/dist
node_modules
docs/.vitepress/cache
*.log
*.tgz
.idea
.temp
.vite_opt_cache
.vscode
